.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    color: black;
    margin: 5rem 0rem;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-weight: 600;
    gap: 10px;
}
.rrss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
@media (min-width: 815px) {
    .footer {
        margin: 5rem 2rem;
    }
    .rrss {
        flex-direction: row;
        gap: 80px;
        align-items: flex-start;
    }
    .formulario {
        flex-direction: row;
    }
}
