.home {
    color: #000000;
    font-size: 1.2rem;
}
.header {
    text-align: center;
    padding-bottom: 5rem;
}
.home h1 {
    line-height: 45px;
}
.header .hero {
    margin: 1% 5%;
}
.article {
    padding: 5% 0%;
}
.numeros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-width: 350px;
    max-width: 500px;
    margin: auto;
}
.numeros span {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #738290;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    padding: 5px;
    font-size:2rem;
    font-weight: bold;
    color: #ffffff;
    box-shadow: -1px 3px 31px 0px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: -1px 3px 31px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: -1px 3px 31px 0px rgba(0, 0, 0, 0.17);
}

.principios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 50px auto;
}
.principios p {
    width: 130px;
}
