.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    color: #000000;
    font-size: 1.2rem;
}
.datos{
    display: flex;
    flex-direction: column;
    gap:20px;
    border: 1px solid slategrey;
    border-radius: 5px;
    padding: 2% 5%;
}
