.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #000000;
    font-size: 1.2rem;
}
.datos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    gap: 20px;
    border: 1px solid #CACDD1;
    border-radius: 5px;
    padding: 2% 5%;
}
@media (min-width: 930px) {
    .login {
        flex-direction: row;
        align-items: flex-start;
    }
}
