.caracteristicas {
    text-align: start;
    border: 1px solid #ddd;
    padding: 3%;
    border-radius: 5px;
}
.caracteristicas p {
    line-height: 1.2rem;
    font-size: 1.1rem;
}
.resultado .button {
    display: none;
}
.resultado .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.resultado .graficos {
    display: flex;
    flex-direction: column;
}

@media(min-width: 600px){
    .resultado .graficos {
        flex-direction: row;
    }
}

@media (min-width: 1000px) {
    .resultado .button {
        display: inline-block;
        position: fixed;
        top: 20%;
        left: 8%;
    }
}
