.caracteristicas {
    text-align: start;
    border: 1px solid #ddd;
    padding: 3%;
    border-radius: 5px;
}
.caracteristicas p {
    line-height: 1.2rem;
    font-size: 1.1rem;
}
.resultado .button {
    display: none;
}

@media (min-width: 1000px) {
    .resultado .button {
        display: inline-block;
        position: fixed;
        top: 20%;
        left: 8%;
    }
}
