.grafico {
    position: relative;
    padding-top: 50px;
    min-width: 40%;
    max-width: 50%;
    margin: auto;
}
.grafico .contenido {
    position: absolute;
    top: 20%;
    left: 25%;
    line-height: 0rem;
    font-weight: 800;
    text-transform: uppercase;
}
