.tabs {
    display: flex;
    margin: 0%;
    font-weight: 500;
}
ul {
    padding: 0%;
}
.tabs li {
    border: 1px solid teal;
    border-bottom: none;
    border-radius: 5px;
    padding: 0% 5%;
}
.tabs li:hover {
    background-color: #007b00;
    color: white;
    cursor: pointer;
}
.contenido {
    width: 75%;
    border-radius: 5px;
    border: 1px solid teal;
    padding: 3%;
    overflow-y: auto;
    max-height: 50vh;
}

