body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
    margin: 0;
    color: black;
}
#root {
    margin: 0 auto;
    text-align: center;
}
.container {
    margin-top: 3rem;
    padding: 6rem 1rem;
    min-height: 100vh;
}
.container_2 {
    margin-top: 3rem;
    padding: 6rem 1rem;
}
ul {
    list-style: none;
}
.activeLink {
    border-bottom: 2px solid white;
}

.pregunta {
    font-size: 1em;
    line-height: 1.25em;
}

@media (min-width: 700px) {
    .container {
        padding: 6rem 4rem;
    }
    .container_2 {
        padding: 6rem 5rem;
    }
}
@media (min-width: 1000px) {
    .container {
        padding: 10rem 14rem;
    }
}
@media (min-width: 1650px) {
    .container {
        padding: 10rem 18rem;
    }
}

.divisor_vertical {
    background-color: #ddd;
    width: 1px;
    height: 80vh;
    margin: 0 5%;
}
hr {
    height: 1px;
    background-color: #ddd;
    border-width: 0;
    color: #ddd;
}
input::placeholder {
    color: #ddd;
}
input:focus {
    outline: none;
    border: 2px solid #007b00;
    border-radius: 5px;
}
