body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
    margin: 0;
    color: black;
}
#root {
    margin: 0 auto;
    text-align: center;
}
.container {
    margin-top: 3rem;
    padding: 6rem 1rem;
}
.container_2 {
    margin-top: 3rem;
    padding: 6rem 5rem;
}
ul {
    list-style: none;
}
.activeLink {
    border-bottom: 2px solid white;
}

.pregunta {
    font-size: 1.15em;
    line-height: 1.25em;
}

@media (min-width: 700px) {
    .container {
        padding: 6rem 4rem;
    }
}
@media (min-width: 1000px) {
    .container {
        padding: 6rem 14rem;
    }
}
@media (min-width: 1650px) {
    .container {
        padding: 6rem 28rem;
    }
}

.divisor_vertical {
    background-color: slategrey;
    width: 1px;
    height: 50vh;
    margin: 0 5%;
}
