body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE and Edge */
body {
    -ms-overflow-style: none;
    margin: 0;
    color: black;
}
#root {
    margin: 0 auto;
    text-align: center;
}
.container {
    margin-top: 3rem;
    padding: 6rem 1rem;
    min-height: 50vh;
}
.container_2 {
    margin-top: 3rem;
    padding: 6rem 1rem;
}
ul {
    list-style: none;
}
.activeLink {
    border-bottom: 2px solid white;
}

.pregunta {
    font-size: 1em;
    line-height: 1.25em;
}


.divisor_vertical {
    display: none;
}
a {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: black;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    color: #80DA83;
    text-decoration-line: none;
}
hr {
    height: 1px;
    background-color: #ddd;
    border-width: 0;
    color: #ddd;
}
input::placeholder {
    color: #ddd;
}
input:focus {
    outline: none;
    border: 2px solid #007b00;
    border-radius: 5px;
}
select {
    outline: none;
    border: 2px solid #007b00;
    border-radius: 5px;
    padding: 1%;
    min-width: 250px;
    font-size: 1.1rem;
}

@media (min-width: 530px) {
    .divisor_vertical {
        display: inline-block;
        background-color: #ddd;
        width: 1px;
        max-height: 80vh;
    }
}
@media (min-width: 700px) {
    .container {
        padding: 6rem 4rem;
    }
}
@media (min-width: 1000px) {
    .container {
        padding: 10rem 14rem;
    }
}
@media (min-width: 1650px) {
    .container {
        padding: 10rem 18rem;
    }
}
.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
