.dmec {
    overflow-x: auto;
}
.dmec table {
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 100%;
    text-align: center;
}
.dmec thead th {
    border-bottom: 1px solid #ddd;
}
.dmec tbody tr {
    transition: 0.15s ease-in;
}
.dmec tbody tr:hover {
    color: white;
    background: #738290;
    cursor: pointer;
}
.dmec span {
    text-align: center;
    display: block;
    line-height: 1.5rem;
    word-wrap: break-word;
}
.dmec .button {
    display: none;
}
@media (min-width: 497px) {
    .dmec .button {
        display: inline-block;
        position: absolute;
        top: 270px;
        right: 2%;
    }
}
@media (min-width: 929px) {
    .dmec .button {
        top: 200px;
        right: 18%;
    }
}
