.dmec {
    overflow-x: auto;
}
.dmec table {
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 100%;
    text-align: center;
}
.dmec thead th {
    border-bottom: 1px solid #ddd;
}
