.dmec {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap:40px;
}
.dmec table {
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 100%;
    text-align: center;
}
.dmec thead th {
    border-bottom: 1px solid #ddd;
}
.dmec tbody tr {
    transition: 0.15s ease-in;
}
.dmec tbody tr:hover {
    color: white;
    background: #738290;
    cursor: pointer;
}
.dmec span {
    text-align: center;
    display: block;
    line-height: 1.5rem;
    word-wrap: break-word;
}
.dmec .seleccion {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5%;
}
.dmec .titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 497px) {
    .dmec .button {
        display: inline-block;
    }
}
@media (min-width: 929px) {
    .dmec .button {
        top: 200px;
        right: 18%;
    }
}
