.button button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    border: 2px solid transparent;
    background-color: #80DA83;
    font-size: 1rem;
    transition: .35s;
}

.button button:hover{
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #DDD;
}
