.button button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    border: 2px solid transparent;
    background-color: #80da83;
    font-size: 0.8rem;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.35s;
}

.button button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #80da83;
    border: 2px solid #ddd;
}
