.card {
    width: auto;
    border-radius: 7px;
    padding: 2rem;
    box-shadow: -1px 3px 31px 0px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: -1px 3px 31px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: -1px 3px 31px 0px rgba(0, 0, 0, 0.17);
}
