.input3 {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 20px;
    color: #000000;
    font-size: 1.5em;
}
.input3 input {
    width: 50%;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #CACDD1;
    padding: 1%;
}
.input3 input:focus {
    outline: none;
    border: 2px solid #007b00;
}
